---
import { ClientRouter } from 'astro:transitions';

import Container from '../components/Container.astro';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

// Import the global.css file here so that it is included on
// all pages through the use of the <Base /> component.
import '../styles/global.css';

interface Props {
	pageTitle?: string;
	description?: string;
}

const { pageTitle, description = SITE_DESCRIPTION } = Astro.props;

const buildTitle = (siteTitle: string, pageTitle?: string) => {
	return [pageTitle, siteTitle].filter(Boolean).join(' – ');
};
---

<!doctype html>
<html lang="ru" transition:animate="none">
	<head>
		<BaseHead title={buildTitle(SITE_TITLE, pageTitle)} description={description} />
		<ClientRouter />

		<style>
			.content {
				grid-area: content;
			}
		</style>
	</head>

	<body>
		<Container>
			<Header />

			<main class="content" transition:animate="fade">
				<slot />
			</main>

			<Sidebar />

			<Footer />
		</Container>
	</body>
</html>
